## Deliverable 2. Create a Customer Travel Destinations Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weatherpy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dikson,RU,2022-08-08 01:13:56,73.5069,80.5464,42.10,100,100,6.17,overcast clouds
1,1,Rikitea,PF,2022-08-08 01:10:55,-23.1203,-134.9692,72.01,73,100,34.05,light rain
2,2,Prince Rupert,CA,2022-08-08 01:12:04,54.3161,-130.3201,60.96,69,2,6.85,clear sky
3,3,Saldanha,ZA,2022-08-08 01:13:57,-33.0117,17.9442,56.89,86,34,12.80,scattered clouds
4,4,Haines Junction,CA,2022-08-08 01:13:58,60.7522,-137.5108,58.82,47,57,8.88,broken clouds

In [18]:

# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 70
What is your desired maximum temperature for your trip? 90

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,2022-08-08 01:10:55,-23.1203,-134.9692,72.01,73,100,34.05,light rain
5,5,Atuona,PF,2022-08-08 01:13:58,-9.8000,-139.0333,77.36,67,74,17.20,broken clouds
7,7,Lompoc,US,2022-08-08 01:10:51,34.6391,-120.4579,81.01,70,0,25.99,clear sky
9,9,Butaritari,KI,2022-08-08 01:14:00,3.0707,172.7902,81.90,72,90,14.92,overcast clouds
10,10,Mana,GF,2022-08-08 01:14:00,5.6592,-53.7767,79.75,82,99,8.16,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
696,696,Manavalakurichi,IN,2022-08-08 01:19:20,8.1333,77.3000,77.58,84,100,18.05,overcast clouds
700,700,Sinnamary,GF,2022-08-08 01:19:22,5.3833,-52.9500,80.06,79,100,9.98,overcast clouds
701,701,Aksu,CN,2022-08-08 01:18:57,41.1231,80.2644,79.48,40,4,2.82,clear sky
704,704,Nanae,JP,2022-08-08 01:19:24,41.8833,140.6833,77.23,88,75,2.30,broken clouds
706,706,Pallasovka,RU,2022-08-08 01:19:25,50.0500,46.8833,73.29,36,35,8.19,scattered clouds

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,2022-08-08 01:10:55,-23.1203,-134.9692,72.01,73,100,34.05,light rain
5,5,Atuona,PF,2022-08-08 01:13:58,-9.8000,-139.0333,77.36,67,74,17.20,broken clouds
7,7,Lompoc,US,2022-08-08 01:10:51,34.6391,-120.4579,81.01,70,0,25.99,clear sky
9,9,Butaritari,KI,2022-08-08 01:14:00,3.0707,172.7902,81.90,72,90,14.92,overcast clouds
10,10,Mana,GF,2022-08-08 01:14:00,5.6592,-53.7767,79.75,82,99,8.16,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
696,696,Manavalakurichi,IN,2022-08-08 01:19:20,8.1333,77.3000,77.58,84,100,18.05,overcast clouds
700,700,Sinnamary,GF,2022-08-08 01:19:22,5.3833,-52.9500,80.06,79,100,9.98,overcast clouds
701,701,Aksu,CN,2022-08-08 01:18:57,41.1231,80.2644,79.48,40,4,2.82,clear sky
704,704,Nanae,JP,2022-08-08 01:19:24,41.8833,140.6833,77.23,88,75,2.30,broken clouds
706,706,Pallasovka,RU,2022-08-08 01:19:25,50.0500,46.8833,73.29,36,35,8.19,scattered clouds

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,72.01,light rain,-23.1203,-134.9692,
5,Atuona,PF,77.36,broken clouds,-9.8000,-139.0333,
7,Lompoc,US,81.01,clear sky,34.6391,-120.4579,
9,Butaritari,KI,81.90,overcast clouds,3.0707,172.7902,
10,Mana,GF,79.75,overcast clouds,5.6592,-53.7767,
14,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,
15,Champerico,GT,81.73,overcast clouds,14.3000,-91.9167,
17,Kavieng,PG,83.46,few clouds,-2.5744,150.7967,
19,Avera,US,79.38,overcast clouds,33.1940,-82.5271,
20,Sabang,ID,81.55,overcast clouds,5.8933,95.3214,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [28]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,72.01,light rain,-23.1203,-134.9692,People ThankYou
5,Atuona,PF,77.36,broken clouds,-9.8000,-139.0333,Villa Enata
7,Lompoc,US,81.01,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
9,Butaritari,KI,81.90,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
10,Mana,GF,79.75,overcast clouds,5.6592,-53.7767,LE SAMANA
...,...,...,...,...,...,...,...
696,Manavalakurichi,IN,77.58,overcast clouds,8.1333,77.3000,Jebinrio home
700,Sinnamary,GF,80.06,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
701,Aksu,CN,79.48,clear sky,41.1231,80.2644,Pudong Holiday Hotel
704,Nanae,JP,77.23,broken clouds,41.8833,140.6833,とみや旅館
706,Pallasovka,RU,73.29,scattered clouds,50.0500,46.8833,"Hotel ""Natalia"""

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))